*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    padding-top: 15px;
    background-image: url('../../static/images/benz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: black;
}

.heading,h2,h3{
    color:#fff;
}
